section.principal {
    padding: 2% 10%;
    background-color: #dd510000;

}

section.principal div.top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

section.principal div.top div:first-child {
    max-width: 40%;
    text-align: right;
    margin-right: 10%;
    font-weight: 300;

    color: #272727;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
}

section.principal div.top div:first-child h1{
    color: #ff531e;
    font-family: 'Kanit';
    font-size: 2em;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.05em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.principal div.top div img {
    max-width: 100%;
    margin-bottom: 15%;
}


section.total {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 5%;
    background-color: #f7f2f2;
    border-top: none;
}

section.total div.total_card {
    width: 30%;
    height: auto;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 5% 2%;
    border: 3px solid;
    border-image: linear-gradient(120deg, rgba(90, 124, 145, 0), #f46f03, rgba(60, 74, 83, 0)) 1;
    background-color: #ff975b3a;
}

section.total div.total_card div:nth-child(1) {
    margin: -60px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

section.total div.total_card div:nth-child(2) {
    margin-top: -1.6em;
    color: #a13807;
    font-family: 'Kanit';
    font-size: 1.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.total div.total_card div img {
    vertical-align: middle;
    display: inline-block;
    margin-top: -5em;
    max-width: 9em;
}


.custom-shape-divider-top-1666194810 {
    position: relative;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1666194810 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 102px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1666194810 .shape-fill {
    fill: #f7f2f2;
}



section.search {
    width: 35%;
    margin: 2% auto;
    text-align: center;
}

section.search h1{
    margin-top: 2em ;
    color: #fd470f;
    font-family: 'Kanit';
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: 0.05em;
    mix-blend-mode: normal;
    text-shadow: 0px 3px 3px rgba(68, 68, 68, 0.25);
}

section.search form {
    display: flex;
    justify-content: baseline;
}

section.search form button {
    background-color: #ec550f;
    box-shadow: 2px 2px 5px rgba(77, 68, 68, 0.308);
    border: none;
    width: 60px;
    max-height: 50.5px;
    padding: 12px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}

section.search form button img {
    width: 70%;
}

section.search input{
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(71, 71, 71);
    margin-bottom: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    /* border-bottom: 1px solid rgb(255, 123, 0); */
    outline: none;
    background-color: #ffffff8e;
    box-shadow: 0 2px 5px rgba(77, 68, 68, 0.308);
    border-radius: 7px 0 0 7px;
}

.voltar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin:0;

}

.voltar button {
    background-color: #ec550f;
    margin: 1% 0;
    box-shadow: 2px 2px 5px rgba(77, 68, 68, 0.308);
    border: none;
    width: 8em;
    max-height: 3em;
    padding: 12px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.voltar button img {
    width: 25%;
}





@media (max-width: 1000px) {

    section.principal {
        padding: 2% 5%;
    }

    section.principal div.top div:first-child {
        max-width: 90%;
        margin: auto 5% 5%;
    }

    section.total div.total_card div img {
        vertical-align: middle;
        display: inline-block;
        margin-top: -1.2em;
    }

    section.total div.total_card {
        width: 70%;
        height: auto;
        margin:7% 2%;
    }

    section.search {
        width: 50%;
    }
}

@media (max-width: 500px) {
    section.total div.total_card div img {
        vertical-align: middle;
        display: inline-block;
        margin-top: -1.2em;
        max-width: 7em;
    }

    section.total div.total_card {
        width: 70%;
        height: auto;
        margin: 15.5% 2%;
    }
}