@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
    background-color: #fc927262;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


footer {
    background-color: #fc7e58;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    font-size: 1.2rem;

    border-top: 2px solid;
    border-image: linear-gradient(120deg, rgba(60, 74, 83, 0), #f46f03, rgba(60, 74, 83, 0)) 1;
}


body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: rgba(187, 187, 187, 0.993);
}

body::-webkit-scrollbar-thumb {
    background-color: #7c7b7b94;
    border-radius: 10px;
}


*::selection {
    color: #ff712f;
    background-color: #351a00;
}