table {
    max-width: 80%;
    margin: 50px auto;
    align-items: center;
    font-family: 'Poppins';
    font-size: clamp(1em, 1vw, 1.5em);
    color: #FFFFFF;
    text-align: center;
}

thead {
    height: 75px;
    background: #ff5b2a;
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Kanit';
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.05em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

thead tr th {
    border-radius: 5px;
}

/* "Tratamento" das coluna da tabela*/

thead tr th:first-child,
tr td:first-child {
    display: none;
}

thead tr th:nth-child(2),
tr td:nth-child(2) {
    width: 10%;
}

thead tr th:nth-child(3),
tr td:nth-child(3) {
    width: 45%;
}


thead tr th:nth-child(5),
tr td:nth-child(5) {
    max-width: 20%;
}

thead tr th:nth-child(6),
tr td:nth-child(6),
thead tr th:nth-child(7),
tr td:nth-child(7) {
    max-width: 5.5em;
}

tr td:nth-child(4) img{
    max-width: 7vw;
}

/**/

tr td {
    border-radius: 5px;
    max-height: 200px;
    flex-flow: row wrap;
    padding: 0 20px;
    background-color: #2e2e2e59;
    padding: 15px;
}

tr td:nth-child(5) a {
    color: #ffff;
    text-decoration: none;
    transition: all 0.3s ease;
}

tr td:nth-child(5) a:hover {
    color:#f26405;
}


table a img {
    max-width: 1.7rem;
    padding: 10px 0;
}



.palavra {
    max-width: 90%;
    margin: 50px auto;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.palavra h1 {
    color: #ffffff;
    font-family: 'Kanit';
    font-size: 2em;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.05em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.palavra form {
    width: 55%;
    background: #fc9272a4;
    box-shadow: 0 15px 25px rgba(77, 68, 68, 0.308);
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    padding: 50px 60px;
}

.palavra form .input-group {
    position: relative;
}

.palavra form .input-group input {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    border: 1.3px solid #fff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    outline: none;
}

.palavra form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 2.4em;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .3s;
}

/* O + q tava dando problema*/
.palavra form .input-group input:focus+label,
.palavra form .input-group input:valid+label {
    transform: translate(1.7em, -22px) scale(1);
    color: #ffffff;
    background: #f89e74;
    left: 1em;
    font-size: 17px;
    padding: 2px 15px;
}





.new-button {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
    background: #a13807;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.767);
    font-size: 19px;
    color: #fff;
}

.new-button:hover {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #e24a04;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
    transition: all 0.2s ease-in;
    font-size: 19px;
    color: #fff;
}


.button-wrap input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.button-wrap {
    position: relative;
}


.palavra form input[type="submit"] {
    position: relative;
    margin-top: 0px;
    display: inline-block;
    border: none;
    color: #ffffff;
    background: #ee5b17;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.397);
    border-radius: 4px;
    font-size: 15px;
    padding: 20px 30px;

    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    letter-spacing: 5px;
    cursor: pointer;
}

.palavra form input[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: #d43404;
}



.alterar_palavra h1 {
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 2em;
    z-index: 1;
    color: #a13807;
    font-family: 'Kanit';
    font-size: 2em;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.05em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.alterar_palavra h3:nth-child(2) {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-style: italic;
    z-index: 1;
    font-size: 2.2em;
    color: #552f24;
    font-family: 'Kanit';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid;
    border-image: linear-gradient(120deg, rgba(90, 124, 145, 0), #f46f03, rgba(60, 74, 83, 0)) 1;
    background-color: #ff975b3a;
}

.alteracao {
    padding-top: 50px;
    margin-top: -2em;
    border: none;
}

.alteracao div:first-child {
    display: none;
}

.alterar_palavra {
    border-top: 2px solid;
    border-image: linear-gradient(120deg, rgba(60, 74, 83, 0), #f46f03, rgba(60, 74, 83, 0)) 1;
}

.alterar_palavra form {
    width: 90%;
    align-items: center;
    align-content: center;
    margin: auto;
}


.alterar_palavra form .alteracao {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.alterar_palavra form div,
.alterar_palavra form div input {
    text-align: center;
}

.alterar_palavra form div.alteracao div {
    margin: 20px 10px;
    width: 35%;
    padding: 25px;
    border: 2px solid;
    border-image: linear-gradient(120deg, rgba(90, 124, 145, 0), #f46f03, rgba(60, 74, 83, 0)) 1;
    background-color: #ff975b3a;
}

.alterar_palavra form div.alteracao div h3 {
    color: #002c41;
    font-family: 'Kanit';
    font-size: 1.7em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: auto;
    margin: auto;
}

.alterar_palavra form div input {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(26, 25, 25);
    margin-bottom: 40px;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: transparent;
}

.alterar_palavra form div input::placeholder {
    color: rgba(255, 255, 255, 0.624);
}

.alterar_palavra form input[type="submit"] {
    width: 10em;
    height: 3em;
    margin: 2% auto 4%;
    font-size: 1.2em;
    border-radius: 5px;
    background-image: linear-gradient(50deg, #fca258, #f87d2b, #f86d2d, #fca258);
    box-shadow: 0 4px 10px rgba(5, 4, 3, 0.432);
    background-size: 300% 150%;
    transition: all 0.3s ease-in;
    cursor: pointer;
    color: #ffffff;
}

.alterar_palavra form input[type="submit"]:hover {
    background-position: 100% 20%;
    transition: all .3s ease-in-out;
}


@media (max-width: 1000px) {

    .alterar_palavra form div.alteracao div {
        width: 50%;
    }

}