section.principal {
    padding: 2% 10%;
    background-color: #dd510000;

}

section.principal div.top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

section.principal div.top div:first-child {
    max-width: 40%;
    text-align: right;
    margin-right: 10%;
    font-weight: 300;

    color: #272727;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
}

section.principal div.top div:first-child h1 {
    color: #ff531e;
    font-family: 'Kanit';
    font-size: 2em;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.05em;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.principal div.top div img {
    max-width: 100%;
    margin-bottom: 15%;
}


section.total {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 5%;
    background-color: #f7f2f2;
    border-top: none;
}

section.total div.total_card {
    width: 30%;
    height: auto;
    margin: 5% 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 5% 2%;
    border: 3px solid;
    border-image: linear-gradient(120deg, rgba(90, 124, 145, 0), #f46f03, rgba(60, 74, 83, 0)) 1;
    background-color: #ff975b3a;
}

section.total div.total_card div:nth-child(1) {
    margin: -60px 0px 0px 0px;
    padding: 0px 0px 30px 0px;
}

section.total div.total_card div:nth-child(2) {
    margin-top: -1.6em;
    color: #a13807;
    font-family: 'Kanit';
    font-size: 1.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.total div.total_card div img {
    vertical-align: middle;
    display: inline-block;
    margin-top: -5em;
    max-width: 9em;
}


.custom-shape-divider-top-1666194810 {
    position: relative;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1666194810 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 102px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1666194810 .shape-fill {
    fill: #f7f2f2;
}




@media (max-width: 1000px) {
    section.principal {
        padding: 2% 5%;
    }

    section.principal div.top div:first-child {
        max-width: 90%;
        margin: auto 5% 5%;
    }

    section.total div.total_card div img {
        vertical-align: middle;
        display: inline-block;
        margin-top: -1.2em;
    }

    section.total div.total_card {
        width: 70%;
        height: auto;
        margin:7% 2%;
    }
}

@media (max-width: 500px) {
    section.total div.total_card div img {
        vertical-align: middle;
        display: inline-block;
        margin-top: -1.2em;
        max-width: 7em;
    }

    section.total div.total_card {
        width: 70%;
        height: auto;
        margin: 15.5% 2%;
    }
}